@model Blog.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <article>
        <header>
            <h2>
                @Model.Title
            </h2>
        </header>
        <p>
            @Model.Content
        </p>
        <small class="author">
            --author @Model.Author.FullName
        </small>
        <footer>
            <div class="pull-left">
                @foreach (var tag in Model.Tags)
                {
                    <span>@Html.ActionLink(tag.Name, "List", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })</span>
                }
            </div>

            <div class="pull-right">
                @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
                {
                    @Html.ActionLink("Edit", "Edit", "Article", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                    @Html.ActionLink("Delete", "Delete", "Article", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                }

                @Html.ActionLink("Back", "Index", "Article", null, new { @class = "btn btn-default btn-xs" })
            </div>
        </footer>
    </article>
</div>

<div class="container">
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
        <div class="col-sm-4">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @rows = "7" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-4 col-sm-offset-4">
            @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "btn btn-default" })
            <input type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
<hr />

